@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
:root{
    --cor0:#FEFADC ;
    --cor1:#F6D4BA ;
    --cor2:#F3B391 ;
    --cor3:#670B33 ;
    --cor4:#442220 ;
    --cor5:#2E0014 ;

    --fontepadrao: Arial,Helvetica,Verdana, sans-serif;
    --fontetitulo: Times,Cambria, Cochin, Georgia, 'Times New Roman', serif;
    --fontepoema: "Patrick Hand", cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html,body{
    min-height: 100vh;
    background-color: var(--cor1);
    font-family: var(--fontepadrao);
}

header{
    background-color: var(--cor5);
    color: var(--cor1);
    text-align: center;
}

header > h1{
    font-family: var(--fontetitulo);
    font-size: 8vw;
    padding-top: 50px;
}

header > p {
    padding-bottom: 50px;
}

header > p > a {
    text-decoration: none;
    color: var(--cor1);
    font-weight: bolder;
}

header > p > a:hover {
    text-decoration: underline;
    color: var(--cor0);
}

section{
    padding-top: 12vh;
    padding-bottom: 12vh;
    line-height: 2em;
    padding-left: 30px;
}

section > p{
    font-family: var(--fontepoema);
    font-size: 3.5vw;
    text-align: justify;
    margin-bottom: 16px;
    line-height: 1.5em;
}

section.normal{
    background-color:var(--cor1)
     ;
    color: black;
}
section.imagem{
    background-color:var(--cor4);
    color: var(--cor1);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.486);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: #2e00149d;
    border-radius: 5px;
    text-shadow: 1px 1px 1px black;
    
}

section#img1{
    background-image: url('../images/img1.jpg');
    background-position: right top;
}
section#img2{
    background-image: url('../images/img2.jpg');
    background-position: left center;
}
footer{
    width: auto;
    height: 40px;
    background-color: var(--cor5);
    color: var(--cor0);
    margin-top: 0px;
    
}
footer > p{
    font-family: var(--fontepadrao);
    font-size: 0.7em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center
    
    
}
footer > p > a > img{
    margin: 5px;
    width: 25px;
    height: 25px;
    
}