@charset "UTF-8";

:root{
    --cor0:#FEFADC ;
    --cor1:#F6D4BA ;
    --cor2:#F3B391 ;
    --cor3:#670B33 ;
    --cor4:#442220 ;
    --cor5:#2E0014 ;

    --fontepadrao: Arial,Helvetica,Verdana, sans-serif;
    --fontetitulo: "Rock Salt",cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html,body{
    min-height: 100vh;
    background-color: var(--cor1);
}

header{
    background-color: var(--cor5);
    color: var(--cor1);
    text-align: center;
}

header > h1{
    padding-top: 50px;
}

footer{
    width: auto;
    height: 40px;
    background-color: var(--cor5);
    color: var(--cor0);
    margin-top: 0px;
    
}
footer > p{
    font-family: var(--fontepadrao);
    font-size: 0.8em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center
    
    
}
footer > p > a > img{
    margin: 5px;
    width: 25px;
    height: 25px;
    
}